<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuckoo</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <% if (message) { %>
        <div class="alert alert-danger"><%= message %></div>
      <% } %>
      <div class="nav">
        <nav>
          <div class="about_us">
            <button class="nav_button">About US</button>
          </div>
          <div class="explore">
            <button class="nav_button">Explore</button> 
          </div>
          <div class="user_manual">
            <button class="nav_button">User manual</button>
          </div>
          <div class="contact_us">
            <button class="nav_button">Contact US</button>
          </div>
        </nav>
        
        
      </div>
    <h1 class="heading">CUCKOO</h1>
  <div class="container">
            <div class="register">
              <div class="head_reg">
                <h2 class="text-center mb-4">Register</h2>
              </div>
              <form method="post" action="/signup">
              <div class="form-group">
                 <label for="name">Name</label>
                 <input type="text" class="form-control" id="name"  name="name"placeholder="Enter your name" required>
              </div>
             
              <div class="form-group">
                <label for="email">Enter Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name ="password"placeholder="Enter password" required>
              </div>
              <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword"placeholder="Confirm Your Password" required>
              </div>
            <div class="end_button_sign_up">
              <button type="submit" class="end_button">SignUp</button>
            </div>
            
          </div>
          </form>
          <div class="sign_in">
            <h2 class="text-center mb-4">Sign In</h2>
            <form method="post" action="/signin">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password"name="password" placeholder="Enter your password" required>
              </div>
              <div class="end_button_sign_in">
                <button type="submit" class="end_button">Sign In</button>
              </div>
              
            </form>
          </div>
            
      
  </div>
    
</body>
</html>